<h1>github top contributions</h1>

<%= form_tag( search_path, method: :post ) do %>
  <%= text_field_tag :github_url %><br>
  <%= submit_tag('Search') %>
<% end %>

<% unless @github.nil? %>
<h3>Results</h3>
  <% user_top_number = 0 %>
  <% @github.each do |user| %>
   <%= user.login %> <%= link_to 'Download pdf', download_path(id: user_top_number+=1, login: "#{user.login}"), target: '_blank' %><br>
  <% end %>
  <%= link_to 'Download', download_zip_path, target: '_blank' %>
<% end %>
