<h1>github top contributions</h1>

<%= form_for( :get_github_repo, method: :post, url: top_users_path ) do |f| %>
  <%= f.text_field :github_url %><br>
  <%= submit_tag('Search') %>
<% end %>

<% unless @github.nil? %>
<h3>Results</h3>
  <% user_top_number = 0 %>
  <% @github.each do |user| %>
    <%= link_to 'Download', download_path(id: user_top_number+=1, login: "#{user.login}") %> | <%= link_to "#{user.login}", github_user_path(format: 'pdf', id: user_top_number, login: "#{user.login}")%><br>
  <% end %>
<% end %>
